.ropeproject/
*.ipynb

__pycache__
marketplace/__pycache__
marketplace/recommendations_pb2.py
marketplace/recommendations_pb2_grpc.py

recommendations/__pycache__
recommendations/recommendations_pb2.py
recommendations/recommendations_pb2_grpc.py


